html, body {
    margin: 0;
    padding: 0;
    width: 900px;
    height: 1440px;
    overflow: hidden;
}

.webcams {
    position: absolute;
    width: 910px;
    bottom: 0;
    left: 0;
    padding: 0 00px;
    background: white;
}

.webcam :first-child {
    padding-left:152px;
}

.webcam {
    float:left;
    /*width: 360px;*/
    width: 293px;
    padding: 0 00px;
    margin-right: 10px;
}

.webcam:first() {
    margin-left: 0;
}

.logo {
    text-align: center;
}

.welcome {
    font-size: 60px;
    font-family: Georgia;
    margin: 10px 10px;
}

.doesname {
    white-space: nowrap;
}

#events {
    font-size: 160%;
}
h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}
