html, body {
    margin: 0;
    padding: 0;
}

.webcams {
    position: absolute;
    width: 720px;
    bottom: 0;
    left: 0;
}

.webcam {
    float:left;
    width: 360px;
}

.logo {
    text-align: center;
}

.welcome {
    font-size: 60px;
    font-family: Georgia;
    margin: 10px 10px;
}

.doesname {
    white-space: nowrap;
}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}
